
<%= form_with(model: aplication, local: true) do |form| %>
  <% if aplication.errors.any? %>
    <div id="error_explanation">
      <h4><%= aplication.errors.count %> Errors Present.</h4>
      <ul>
      <% aplication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="page1"> -->


  <div class="field">
    <%= form.label :course %>
    <%= form.collection_select :course_id, Course.order(:name),:id,:name, required: true, class:'form-control' %>

  </div>
  <div class="field">
    <%= form.label :payment_method%>
    <%= form.select :payment_method, ['payment method', 'mobile money', 'Bank transfer','Cash payment'], class:'form-control'%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary"  %>
  </div>
<% end %>
<!-- </div> -->
