<div class="profile">
<div class="card text-center" style="width: 27rem;">
    <div class="card-body">
      <p class="card-title"><strong><%=@user.first_name%>'s Profile </strong></p>
      <p class="card-subtitle mb-2 "><strong>Email:</strong><%= @user.email %></p>
      <p class="card-subtitle mb-2 "><strong>Mobile number:</strong><%= @user.mobile_number %></p>
      <p class="card-subtitle mb-2 ">Number of applications: <%= @user.aplications.count %></p>
      <p>
      <strong>Courses:</strong>
      <%@user.aplications.each do |aplication| %>
        [<%=aplication.course.name %>]
        <%end %>
    </p>
  </div>
</div>
