<p id="notice"><%= notice %></p>
<h4>Application Form</h4>
<table>
  <thead>
    <tr>
      <th>category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @course_application.each do |course_application| %>
      <tr>
        <td><%= course_application.category %></td>
        <td><%= link_to 'Show', course_application %></td>
        <td><%= link_to 'Edit', edit_course_path(course_application) %></td>
        <td><%= link_to 'Destroy', course_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Registration form', new_course_application_path %>
