<div class="top-courses">


<div class="container">
<h4>Course Panel</h4>

<table class="ui five column table">
  <thead>
    <tr>
      <th>name</th>
      <th>category</th>
      <th>description</th>
      <th>course_period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%=course.name %></td>
        <td><%= course.category %></td>
        <td><%= course.description %></td>
        <td><%= course.course_period %></td>
        <td><%= link_to 'Comment', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Registration form', new_course_path %>
</div>
</div>
<a class="nav-link" href="#"><%=paginate @courses, class: "nav-link" %></a>
