<div class="row justify-content-center">
  <div class="col-3">
    <div class="container">
      <p>
        <strong>Name:</strong>
        <%=@course.name %>
      </p>

      <p>
        <strong>Course category:</strong>
        <%=@course.category %>
      </p>

      <p>
        <strong>Course Description:</strong>
        <%=@course.description %>
      </p>

      <p>
        <strong>Course period:</strong>
        <%= @course.course_period %>
      </p>
      
      <h5>Comments (<%= @course.comments.size %>)</h5>
        <%= render partial: 'courses/comment', collection: @course.comments.reverse %>
        <%= render partial: 'comments/form' %>

      <%= link_to 'Edit', edit_course_path(@course) %> |
      <%= link_to 'Back', courses_path %>
    </div>
  </div>
</div>
