<div class="row justify-content-center">
  <div class="col-3">
    <div class="container">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @course.name %>
      </p>

      <p>
        <strong>Course category:</strong>
        <%= @course.category %>
      </p>

      <p>
        <strong>Mobile Number:</strong>
        <%= @course.description %>
      </p>
      <p>
        <strong>Course Starts:</strong>
        <%= @course.start_date %>
      </p>

      <p>
        <strong>Course Ends:</strong>
        <%= @course.course_ends %>
      </p>

      <p>
        <strong>Course period:</strong>
        <%= @course.period %>
      </p>

      <%= link_to 'Edit', edit_course_path(@course) %> |
      <%= link_to 'Back', courses_path %>
    </div>
  </div>
</div>
