<div class="message">
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning!</strong> Hello <%=current_user.first_name %>! Please note that once you comment, you can not edit nor delete your comment
  </div>
</div>
<div class="comment">
  <div class="col-2">
    <div class="container">
      <p>
        <strong>Name:</strong>
        <%=@course.name %>
      </p>

      <p>
        <strong>Course category:</strong>
        <%=@course.category %>
      </p>

      <p>
        <strong>Course Description:</strong>
        <%=@course.description %>
      </p>

      <p>
        <strong>Course period:</strong>
        <%= @course.course_period %>
      </p>

      <p class="btn btn-primary" type="button">
        Comments <span class="badge"><%= @course.comments.size %></span>
      </p>
       <div class="ui card">
         <div class="content">
          <div class="header"><%=current_user.first_name %></div>
          <div class="meta">
            <span class="right floated time"></span>
            <span class="category"></span>
            </div>
            <div class="description">
              <p><%= render partial: 'courses/comment', collection: @course.comments.reverse %></p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
            </div>
          </div>
        </div>
       <%= render partial: 'comments/form' %><br>
      <%= link_to 'Edit', edit_course_path(@course), class: 'click' %> |
      <%= link_to 'Back', courses_path, class: 'click' %>
    </div>
  </div>
</div>
